
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
  z-index: -3;
}

.logo_place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;
  background: url("./logo_place_header.svg");
}

.header__title {
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  margin: auto 0 auto 64px;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  left: 64px;
  bottom: 30px;
}

.header__link {
  text-decoration: none;
}

.header__link:after {
  content: "→";
}

.main-illustration {

}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  right: 0;
  top: 64px;
  z-index: -2;
}

.main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: url("./header-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
