.kaufman__triangle {
  right: -210px;
  top: 0;
  width: 877px;
  height: 877px;
  position: absolute;
  background: url("../../../images/kaufman-triangle.svg") no-repeat;
  background-size: contain;
}
